body {
        background-color: #000;
    }

    .llsab {
        color: #fff;
    }

    .GIF {

        height: 95%;
        width: 100%;
        padding: none;
        margin: none;
    }
